<!DOCTYPE html>
<html>
<head>
	<title>Receiver Event Page</title>
	<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <%@user = User.find(session[:user_id]) %>
	<div class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="#"><img src="/food_for_thought_logo.png" class="logo-img"></a>
			</div>
			<h2 class="user-account">
				<%=@user.first_name%> <%=@user.last_name%>(Receiver)
			</h2>
		</div>
	</div>
	<div class="container">
			<div class="event-content">
			  <button class="btn btn-primary" data-toggle="modal" data-target="#order-claim-modal">Place a New Order</button>
				<table class="table table-hover event-table">
					<thead>
						<th>S.no</th>
						<th>Ordered No.of Meals</th>
						<th>Track</th>
					</thead>
					<tbody>
					<% Order.where("receiver_user_id = #{session[:user_id]}").each do |order| %>
						<tr>
							<td><%=order.id%></td>
							<td><%=order.no_of_meals%></td>
							<td><button class="btn btn-success" data-toggle="modal" data-target="#track-order-modal">Track Order</button>
							</td>
						</tr>
					<%end%>
					</tbody>
				</table>
				<div id="track-order-modal" class="modal fade" role="dialog">
				<div class="modal-dialog">
				   <!-- Modal content-->
				   <div class="modal-content">
				     <div class="modal-header">
				       <button type="button" class="close" data-dismiss="modal">&times;</button>
				       <h4 class="modal-title">Track Order</h4>
				     </div>
				     <div class="modal-body">
				     	<ol class="progtrckr" data-progtrckr-steps="5">
				      <li class="progtrckr-done"><span>Order Processing</span></li>
				      <li class="progtrckr-todo"><span>Food Quality Check</span></li>
				      <li class="progtrckr-todo"><span>Shipped</span></li>
						  <li class="progtrckr-todo"><span>Received by NGO</span></li>						  
						  <li class="progtrckr-todo"><span>Delivered</span></li>
				     </ol>
				     </div>
				   </div>
				 </div>
				</div>
				<div id="order-claim-modal" class="modal fade" role="dialog">
				  <div class="modal-dialog">
				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h4 class="modal-title">Claim Form</h4>
				      </div>
				      <div class="modal-body">
				        <form class="login-form">
							<div class="form-group">
								<label for="user">Reg. Mobile No:</label>
								<input class="form-control" type="tel" name="user" id="user" placeholder="Mobile No:" required >
							</div>
							<div class="form-group">
								<label for="no-of-meals">Meals Required: </label>
								<input type="number" class="form-control" id="no-of-meals" name="no-of-meals" min="1" max="100">
							</div>
							<div class="form-group">
								<label for="code">Event Code: </label>
								<input type="text" class="form-control" id="event-code" name="event-code">
							</div>
							<button type="submit" onclick="place_order(<%=session[:user_id]%>)" class="btn btn-primary"> Order </button>
						</form>
				      </div>
				    </div>

				  </div>
				</div>
			</div>
		</div>
</body>
<script>
function place_order(receiver_user_id)
{
	var no_of_meals = $('#no-of-meals').val();
	var event_code = $('#event-code').val();
	$.ajax({
    url: '/food/place_order',
    type: 'POST',
    data: {receiver_user_id:receiver_user_id,no_of_meals:no_of_meals,event_code:event_code},
    success: function (response) {
    	alert("Placed a new order successfully");
    	location.href = "/food/receiver"   
    },
    error: function () {
        alert("Error while processing.. Try again");
    }
	  });
}
</script>
</html>